<header class="header">
    <div class="container">
      <div class="nav">
        <nav class="navbar">
          <a href="/" class="logo">ЛОГОТИП</a>
          <ul class="navbar__list">
            <li class="navbar__item"><a href="/projects" class="navbar__link">Бағдарламалар</a></li>
            <li class="navbar__item"><a href="/culture" class="navbar__link">Мәдениет</a></li>
            <li class="navbar__item"><a href="/sport" class="navbar__link">Спорт нысаны</a></li>
            <li class="navbar__item"><a href="/directors" class="navbar__link">Аудан директорлары</a></li>
            <li class="navbar__item"><a href="/info" class="navbar__link">Ақпараттар</a></li>
          </ul>
        </nav>
        <a href="#form" class="nav__btn">Бізбен хабарласыңыз</a>
        <div class="navbar__dropdown">
          <button class="navbar__burger"></button>
          <ul class="dropdown__list">
            <li><a h ref="/projects">Бағдарламалар</a></li>
            <li><a href="/culture">Мәдениет</a></li>
            <li><a href="/sport">Спорт нысаны</a></li>
            <li><a href="/directors">Аудан директорлары</a></li>
            <li><a href="/info">Ақпараттар</a></li>
            <li><a href="#form" class="dropdown-item__contact">Бізбен хабарласыңыз</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>